@{
    ViewBag.Title = "Trang chủ";
}

<h2>Welcome to Deso2 App</h2>
<p>Đây là trang chính của ứng dụng MVC.</p>

<div class="mt-4">
    <a href="@Url.Action("Index","Supplier")" class="btn btn-primary">Quản lý Supplier</a>
    <a href="@Url.Action("Index","Product")" class="btn btn-success">Quản lý Product</a>
</div>
