@model Deso2.Models.Supplier

@{
    ViewBag.Title = "Supplier Details";
}

<h2>Supplier Details</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>Supplier Name</dt>
        <dd>@Html.DisplayFor(model => model.SupplierName)</dd>

        <dt>Phone</dt>
        <dd>@Html.DisplayFor(model => model.Phone)</dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
